*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.list {
    list-style: none;
  }
